@{
    ViewData["Title"] = "Home";
}

<h1>Dierentuin Dashboard</h1>
<p>Kies een onderdeel:</p>

<div class="list-group">
    <a class="list-group-item list-group-item-action" asp-controller="Animals" asp-action="Index">
        Animals 
    </a>

    <a class="list-group-item list-group-item-action" asp-controller="Categories" asp-action="Index">
        Categories 
    </a>

    <a class="list-group-item list-group-item-action" asp-controller="Enclosures" asp-action="Index">
        Enclosures 
    </a>

    <a class="list-group-item list-group-item-action" asp-controller="Zoos" asp-action="Index">
        Zoos
    </a>
</div>

<hr />

<h3>Actions</h3>
<p> </p>
